# Data Science Tools and Ecosystem

## Author
Garret

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- Display commonly used data science tools in table form
- Demonstrate examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Tensorflow

| Data Science Tools |
|:------------------:|
|  Jupyter Notebook   |
|  R Studio  |  
|  Google Colab   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(minutes , " minutes is equal to ", hours , " hours")

200  minutes is equal to  3.3333333333333335  hours